@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply antialiased;
    font-feature-settings: 'kern' 1, 'liga' 1;
  }

  body {
    @apply leading-relaxed;
  }

  *:focus-visible {
    @apply outline-2 outline-offset-2 outline-blue-600;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .max-w-prose {
    max-width: 65ch;
  }
}
